.periodos-container {  
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.periodos-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.periodo-form-control-container {
    margin: 20px 0px;
    max-width: 300px;
}

.periodo-form-control {
    width: 100%;
    height: 32px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #535353;
    border-radius: 5px;
    padding: 20px;
    
}

.periodos-table {
    width: 100%;   
    border-spacing: 0; 
    border-collapse: collapse;
}

.periodos-table thead {
    height: 55px;
    font-size: 16px;
    font-weight: 700;
}

.periodos-table tbody {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.periodos-table tr {
    border-top: 1px solid #C8C8C8;
    height: 55px;
}

/* cores intercaladas na tabela, toda linha (tr) impar (odd) será de uma cor diferente*/
.periodos-table tbody tr:nth-child(odd) {
    background-color:#F9F9F9;
}

/* muda a cor da linha para um azul bem clarinho quando passar o mouse (hover)*/
.periodos-table tbody tr:hover > td {
    background-color: #F0F8FF;
}

.column-hide-on-small-sizes {
    display:table-cell;
}

.column-hide-on-medium-sizes {
    display: table-cell;
}

.view-button-container {
    display: flex;
    justify-content: center;
}

.view-button {
    height: 50px;
    width: 50px;
    border: 0px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.view-button img {
    height: 5px;
}

/* on small sizes */
@media (max-width: 576px) {
    .column-hide-on-small-sizes {
        display:none;
    }
}

/* on medium sizes */
@media (max-width: 992px) {
    
    .column-hide-on-medium-sizes {
        display: none;
    }

    .cards {
        padding: 10px;
    }
}