@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color:#535353;
    color:#373737
}

li{
    list-style: none;
}

.section-cards {
    padding: 40px 10px;
}

.cards {
        background-color:#fff; 
        border-radius: 10px;
        padding: 30px;
}